@theme "./config.rasi"

configuration {
    show-icons: false;
}

window {
    location: center;
    width: 30%;
}

listview {
    lines: 6;
    margin: 0 20px 4px 20px;
}

prompt {
    enabled: true;
}

entry {
    enabled: false;
}