$base      : #1e2326;
$surface0  : #272e33;
$surface1  : #2e383c;
$surface2  : #374145;
$overlay0  : #414b50;
$overlay1  : #859289;
$subtext   : #9da9a0;
$text      : #d3c6aa;
$accent1   : #d699b6;
$accent2   : #7fbbb3;
$misc      : $surface1;
$fuck      : $base;
$shadow    : 0 2px 3px 0 rgba(0, 0, 0, 0.3);