$base      : #efebd4;
$surface0  : #fdf6e3;
$surface1  : $base;
$surface2  : #e0dcc7;
$overlay0  : #bdc3af;
$overlay1  : #a6b0a0;
$subtext   : #708089;
$text      : #5c6a72;
$accent1   : #d699b6;
$accent2   : #7fbbb3;
$misc      : $surface2;
$fuck      : #efebd4;
$shadow    : 0 2px 3px 0 rgba(0, 0, 0, 0.3);