$base      : #eceff4;
$surface0  : #ffffff;
$surface1  : #eceff4;
$surface2  : #a5abb6;
$overlay0  : #a5abb6;
$overlay1  : #6d7a96;
$subtext   : #4c566a;
$text      : #2e3440;
$accent1   : #81a1c1;
$accent2   : #5e81ac;
$misc      : #d8dee9;
$fuck      : #eceff4;
$shadow    : 0 2px 3px 0 rgba(0, 0, 0, 0.3);