$base      : #2e3440;
$surface0  : #3b4252;
$surface1  : #434c5e;
$surface2  : #4c566a;
$overlay0  : #4c566a;
$overlay1  : rgba(216, 222, 233, 0.6);
$subtext   : rgba(216, 222, 233, 0.8);
$text      : #eceff4;
$accent1   : #b48ead;
$accent2   : #8fbcbb;
$misc      : $surface1;
$fuck      : #4c566a;
$shadow    : 0 2px 3px 0 rgba(0, 0, 0, 0.3);